:root {
    --blue-light: #EFF6FF;
    --blue-primary: #2563EB;
    --blue-dark: #1E3A8A;
    --blue-hover: #1E40AF;
    --gray-light: #F9FAFB;
    --gray-dark: #4B5563;
    --red-danger: #DC2626;
    --red-light: #FEE2E2;
}
